[Unit]
Description=chia-monitor
After=network.target
AssertPathExists=/home/chiaplot/chia-monitor

[Service]
Environment="CHIA_ROOT=/home/chiaplot/.chia/mainnet"
User=chiaplot
Type=simple

SyslogIdentifier=chia-monitor

KillMode=mixed
SendSIGKILL=yes
TimeoutSec=30

WorkingDirectory=/home/chiaplot/chia-monitor
ExecStart=/home/chiaplot/chia-blockchain/venv/bin/python -m monitor
Restart=always
RestartSec=600

[Install]
WantedBy=multi-user.target
